body {
	background-color: #eee;
	overflow-x: hidden;
	margin-bottom: 20%;
	padding: 0;
}

#questionnaire img {
	position: relative;
}

#questionnaire-context-toolbar {
	width: 100%;
	background-color: rgba(210,210,210,.7);
	position: fixed;
	bottom: 0px;
	min-height: 0%;
	z-index: 100;
	padding: 20px 0;
}

#questionnaire-context-toolbar > div {
	margin: 0 auto;
	width: 50%;
}

body > div[class*='question-type'], body > .heading-and-description, body > .question {
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

/* Should be possible only to resize textarea vertically */
textarea {
	resize: vertical;
}

img {
	/* cursor: move; */
}

#questionnaire {
	padding: 0 80px 40px 80px;
	background-color: #fff;
	box-shadow: 0 8px 10px #aaa;
	overflow: visible;
}

#questionnaire > header {
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 !important;
	position: relative;
	z-index: 1;
}

.questionnaire-operations-toolbar {
	position: fixed;
	margin-left: -50px;
}

#questionnaire > .heading-and-description > .panel-heading > .panel-title {
	font-size: 24px;
}

.panel-heading .popover-title {
	background-color: #ff4444;
	color: white;
	background: linear-gradient(to bottom, #ff4444, #e53d3d);
}

.questionnaire-title {
	margin-top: 2em;
}

#questionnaire > * {
	margin-bottom: 40px;
}

button.active {
	z-index: 0 !important;
}

#questionnaire-question-types > div {
	display: none;
}

ul.question-answer-alternatives {
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

ul.question-answer-alternatives > li {
	position: relative;
	background-color: white;
}

#questionnaire > footer {
	text-align: center;
}

.single-choice-remove-alternative-button, .multiple-choice-remove-alternative-button {
	font-weight: bold;
	font-size: 1.4em;
	cursor: pointer;
}

#questionnaire [contenteditable='true']:focus {
	outline: none ! important;
	box-shadow: inset 0 0 1px 1px dodgerblue !important;
	border-radius: 2px;
	transition: box-shadow .2s;
}

ul {
	list-style-type: none;
}

.question .dropdown-menu {
	position: absolute !important;
	border: 1px solid red;
	z-index: 300 !important;
}

.questionnaire-question-types-list {
	position: absolute !important;
	z-index: 1 !important;
	border: 1px solid red;
}

.panel-footer {
	padding: 0 !important;
}

label {
	font-weight: normal;
}

.single-choice-add-alternative, .multiple-choice-add-alternative {
	cursor: text;
	color: gray;
}

#questionnaire > .panel {
	position: relative;
	top: 0;
	opacity: 1;
	margin-bottom: 40px;
	overflow: visible;
	background-color: white;
}

label[for="text-input-pane-placeholder-text"],
label[for="image-pane-image-url"],
.ranked-choice-type-select-list-text {
	cursor: help;
}

.modal-dialog {
	width: 40%;
}

/* Application-specific ranked-choice styles */
.ranked-choice {
	margin-bottom: 10px;
}

.ranked-choice-alternative-text {
	line-height: 20px;
}

.ranked-choice-scale-text-list {
	margin: 0; padding: 0;
	width: 100%;
	list-style: none;
	display: table;
	table-layout: fixed;
	margin-bottom: 10px;
}

.ranked-choice-scale-text-list > li {
	display: table-cell;
	text-align: center;
	margin-bottom: 5px;
}

.ranked-choice-scale-text-list > li:first-child {
	text-align: left;
}

.ranked-choice-scale-text-list > li:last-child {
	text-align: right;
}

.ranked-choice[class*='ranked-choice-type-a'] > .ranked-choice-slider-bar {
	background-image: url('../svg/red_right_to_left_gradient.svg'), url('../svg/green_left_to_right_gradient.svg');
	background-position: 0% 0%, 100% 0%;
	background-size: 50% 100%, 50% 100%;
	padding-left: 50%;
	padding-right: 50%;
}

.ranked-choice[class*='ranked-choice-type-b'] > .ranked-choice-slider-bar {
	background-image: url('../svg/blue_left_to_right_gradient.svg');
	background-position: 0% 0%;
	background-size: 100% 100%;
	padding-left: 0%;
	padding-right: 100%;
}

.ranked-choice[class*='ranked-choice-type-c'] > .ranked-choice-slider-bar {
	background-image: url('../svg/blue_right_to_left_gradient.svg'), url('../svg/blue_left_to_right_gradient.svg');
	background-position: 0% 0%, 100% 0%;
	background-size: 50% 100%, 50% 100%;
	padding-left: 50%;
	padding-right: 50%;
}

.ranked-choice[class*='ranked-choice-type-c'] .ranked-choice-alternative-text,
.ranked-choice-alternative-text[contenteditable='false'] {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid gray;
}

.ranked-choice-type-definition-list > dt {
	margin-top: 10px;
}

/* CSS animation transitions */
.animate-top {
	transition: top 1s;
}

.animate-margin-top {
	transition: margin-top 1s;
}

.animate-margin-bottom {
	transition: margin-bottom 1s;
}