html, body {
	height: 100%;
}

body {
	background-color: #eee;
	overflow-x: hidden;
	margin-bottom: 20%;
	padding: 0;
}

.bold {
	font-weight: bold;
}

.question > .panel-heading > h3 {
	width: calc(100% - 110px); /* Enables direct editing when selecting whole heading text at once */
	float: left;
}

#questionnaire-already-exists-no-button, #questionnaire-already-exists-yes-button {
	width: 49%;
}

#questionnaire-context-toolbar .glyphicon {
	display: inline-block;
	margin-right: 5px;
}

#questionnaire-context-toolbar legend {
	font-size: 15px;
}
#questionnaire > .panel-active {
	box-shadow: -5px 0 2px 0 dodgerblue;
	outline: 0; /* Remove dotted IE focus border */
}

.popover-invalid-value-close-button {
	display: inline-block;
	width: 10px;
	height: 10px;
	float: right;
	background-image: url('../svg/remove_alternative.svg');
	margin-top: 3px;
}

#questionnaire img {
	position: relative;
}

.question-invalid .question-type-validation-field {
	box-shadow: 0 0 2px 1px red;
	/* border: 2px solid rgba(255,0,0,.9); */
	background-color: rgba(255,0,0,.07);
}

.question.invalid-question-answer[data-current-question-type="multiple-choice-list"] .select-list-button {
	border: 2px solid rgba(255,0,0,.9);
	background-color: rgba(255,0,0,.07);
}

#questionnaire-context-toolbar {
	width: 100%;
	background-color: rgba(210,210,210,.9);
	position: fixed;
	top: 100%;
	z-index: 100;
	padding: 30px 0;
	transition: top .4s;
}

#questionnaire-context-toolbar > div {
	margin: 0 auto;
	width: 50%;
}

body > div[class*='question-type'], body > .heading-and-description, body > .question {
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

/* Should be possible only to resize textarea vertically */
textarea {
	resize: vertical;
}

img {
	/* cursor: move; */
}

#questionnaire {
	padding: 0 80px 40px 80px;
	background-color: #fff;
	box-shadow: 0 8px 10px #aaa;
	overflow: visible;
}

#questionnaire > header {
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 !important;
	position: relative;
	z-index: 1;
}

.questionnaire-operations-toolbar {
	position: fixed;
	z-index: 100;
	margin-left: -50px;
}

#questionnaire > .heading-and-description > .panel-heading > .panel-title {
	font-size: 24px;
}

.panel-heading .popover-title {
	background-color: #ff4444;
	color: white;
	background: linear-gradient(to bottom, #ff4444, #e53d3d);
}

.questionnaire-title {
	margin-top: 2em;
}

#questionnaire > * {
	margin-bottom: 40px;
}

button.active {
	z-index: 0 !important;
}

#questionnaire-question-types > div {
	display: none;
}

ul.question-answer-alternatives {
	margin: 0; padding: 5px 7px;
	list-style: none;
	overflow: hidden;
	border-radius: 5px;
}

ul.question-answer-alternatives > li {
	position: relative;
}

#questionnaire > footer {
	text-align: center;
}

.single-choice-remove-alternative-button, .multiple-choice-remove-alternative-button {
	cursor: pointer;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}

#questionnaire [contenteditable='true']:focus {
	outline: none ! important;
	box-shadow: inset 0 0 1px 1px dodgerblue !important;
	border-radius: 2px;
	transition: box-shadow .2s;
}

ul {
	list-style-type: none;
}

.question-answer-alternatives input {
	margin-right: 5px;
}

.question .dropdown-menu {
	position: absolute !important;
	z-index: 300 !important;
}

.questionnaire-question-types-list {
	position: absolute !important;
	z-index: 1 !important;
}

.panel-footer {
	padding: 0 !important;
}

label {
	font-weight: normal;
}

.single-choice-add-alternative, .multiple-choice-add-alternative,
.select-list-add-alternative, .ranked-choice-add-alternative {
	cursor: pointer;
	color: dodgerblue;
	font-weight: bold;
}

.single-choice-add-alternative, .multiple-choice-add-alternative {
	display: inline-block;
	margin-left: 18px;
}

.ranked-choice-add-alternative {
	display: inline-block;
	margin-left: 5px;
}

.question-answer-alternatives img {
	visibility: hidden;
	opacity: 0;
}

.question-answer-alternatives > li:hover > img {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s;
}

.single-choice-add-alternative:hover, .multiple-choice-add-alternative:hover {
	text-decoration: underline;
}

.question-type-single-choice-radio-buttons input[type="radio"], .question-type-multiple-choice-checkboxes input[type="checkbox"] {
	vertical-align: top;
}

#questionnaire > .panel {
	position: relative;
	top: 0;
	opacity: 1;
	margin-bottom: 40px;
	overflow: visible;
	background-color: white;
}

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: rgb(50,50,255);
}

.bold {
	font-weight: bold;
}

.modal-dialog {
	width: 40%;
}

/* Application-specific ranked-choice styles */
.ranked-choice-order-description {
	min-height: 70px;
	text-align: center;
}

.ranked-choice {
	margin-bottom: 10px;
}

.ranked-choice-alternative-text {
	line-height: 20px;
}

.ranked-choice-scale-text-list {
	margin: 0; padding: 0;
	width: 100%;
	list-style: none;
	display: table;
	table-layout: fixed;
	margin-bottom: 10px;
}

.ranked-choice-scale-text-list > li {
	display: table-cell;
	text-align: center;
	margin-bottom: 5px;
}

.ranked-choice-scale-text-list > li:first-child {
	text-align: left;
}

.ranked-choice-scale-text-list > li:last-child {
	text-align: right;
}

.ranked-choice[class*='ranked-choice-type-a'] > .ranked-choice-slider-bar {
	background-image: url('../svg/red_right_to_left_gradient.svg'), url('../svg/green_left_to_right_gradient.svg');
	background-position: 0% 0%, 100% 0%;
	background-size: 50% 100%, 50% 100%;
	padding-left: 50%;
	padding-right: 50%;
}

.ranked-choice[class*='ranked-choice-type-b'] > .ranked-choice-slider-bar {
	background-image: url('../svg/blue_left_to_right_gradient.svg');
	background-position: 0% 0%;
	background-size: 100% 100%;
	padding-left: 0%;
	padding-right: 100%;
}

.ranked-choice[class*='ranked-choice-type-c'] > .ranked-choice-slider-bar {
	background-image: url('../svg/blue_right_to_left_gradient.svg'), url('../svg/blue_left_to_right_gradient.svg');
	background-position: 0% 0%, 100% 0%;
	background-size: 50% 100%, 50% 100%;
	padding-left: 50%;
	padding-right: 50%;
}

.ranked-choice-alternatives-list .ranked-choice-alternative-remove-button {
	visibility: hidden;
	opacity: 0;
	width: 0;
}

.ranked-choice-alternatives-list .ranked-choice-enclosing-div:hover .ranked-choice-alternative-remove-button {
	visibility: visible;
	opacity: 1;
	width: 20px;
	margin-left: 3px;
	transition: opacity .5s;
}

#questionnaire-load-modal-dialog-questionnaires-list {
	height: 2.4em;
	padding: 0 10px;
}

.ranked-choice-type-definition-list > dt {
	margin-top: 10px;
}

/* CSS animation transitions */
.animate-top {
	transition: top 1s;
}

.animate-margin-top {
	transition: margin-top 1s;
}

.animate-margin-bottom {
	transition: margin-bottom 1s;
}

.animate-duplicate-section {
	transition: top .9s, margin-bottom .9s;
}