.ranked-choice .tooltip {
	white-space: nowrap;
}

.ranked-choice-alternatives-list {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
	text-align: center;
}

.ranked-choice-alternatives-list > li {
	position: relative;
	white-space: nowrap;
	display: block;
	text-align: center;
	width: 100%;
	height: 32px;
	overflow: visible;
	margin-left: -50%;
}

div.ranked-choice-alternative-polygon {
	width: 10px;
	height: 80px;
	position: absolute;
	top: 100%;
	/* cursor: ew-resize; */
	left: calc(50% - 5px);
	z-index: 1;
	background-image: url('../svg/ranked_choice_polygon.svg');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
}

ul.ranked-choice-alternatives-list > li > div > span[class='tooltip'] {
	margin-left: 5px;
}

.ranked-choice-alternative-text {
	display: inline-block;
	float: left;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 15px;
	position: relative;
	z-index: 2;
	color: black;
	text-shadow: 0 1px 1px white;
	white-space: nowrap;
}

.ranked-choice-enclosing-div {
	display: inline-block;
	background-color: rgb(200,200,200);
	line-height: 50px;
	padding: 5px 12px;
	border: 1px solid gray;
	position: relative;
	z-index: 2;
	border-radius: 5px;
}

.ranked-choice-alternative-remove-button {
	display: block;
	float: right;
	height: 20px;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	width: 20px;
	background-image: url('svg/remove_alternative.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

.ranked-choice-alternative-slider-drag-handle {
	cursor: ew-resize;
	position: absolute;
	left: calc(50% - 20px);
	bottom: 0;
	z-index: 2;
	width: 40px;
	height: 20px;
	border-radius: 5px;
	display: block;
	margin-bottom: -100px;
	border: 1px solid rgba(0,0,0,.4);
	background-color: rgb(190,190,190);
}

.ranked-choice-slider-bar {
	height: 10px;
	margin-top: -14px;
	background-repeat: no-repeat, no-repeat;
	background-clip: content-box;
	border: 1px solid rgb(220,220,220);
}